# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files
data/*.csv
data/*.log
data/*.gz
models/

# Virtual environment
venv/
.venv/
.env
.pytest_cache/
